body {
    position: relative;
    background: #fff;
    font-size: 15px;
    line-height: 24px;
    font-style: normal;
    font-weight: 400;
    color: #444444;
    font-family: "Open-Sans", sans-serif;
    margin: 0;
    padding: 0;
}

a {
  text-decoration: none;
}

.main-content {
    width: 320px;
    margin: 0 auto;
}
