.contacts__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.contacts__wrap {
  padding-left: 30px;
  padding-right: 30px;
}

.contacts__title {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 19px;
  line-height: 30px;
  color: $black;
  font-weight: 700;
  margin-bottom: 25px;
}

.contacts__name {
  margin: 0;
  padding: 0;
  margin-right: 31px;
}

.contacts__link {
  color: $dark-gray;
  border-bottom: 1px solid $light-green;
  font-size: 16px;

  &:hover,
  &:focus {
    color: $light-green;
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts__item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-bottom: 30px;
  line-height: 30px;
}

.contacts__value {
  margin: 0;
  font-size: 15.8px;
}

.contacts__address {
  margin: 0;
  margin-bottom: 40px;
  font-size: 15px;
  line-height: 30px;
}

.contacts__text {
  display: inline-flex;
  padding-left: 20px;
  width: 150px;
  margin: 0;
}

.contacts__map {
  width: 100%;
  height: 456px;
  background: url("../img/icon-map-pin.svg"), url("../img/map-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: auto, cover;
  background-position: 55% 42%, center;
  margin-bottom: 45px;

  @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
    background-image: url("../img/icon-map-pin.svg"), url("../img/map-mobile@2x.jpg");
  }
}

.contacts__map iframe {
  width: 100%;
  margin-bottom: 40px;
}

.contacts__button {
  padding-left: 30px;
  padding-right: 30px;
}

.contacts__write-us {
  margin-bottom: 40px;
}

.contacts__icon {
  display: none;
}

@media (min-width: $tablet-width) {
  .contacts__wrap {
    padding-left: 50px;
    padding-right: 50px;
  }

  .contacts__title {
    font-size: 44px;
    line-height: 50px;
    margin-bottom: 35px;
    letter-spacing: 1px;

    &::after {
      content: "";
      position: absolute;
      top: -16px;
      right: 3px;
      display: block;
      width: 47px;
      height: 81px;
      background-image: url("../img/flag.svg");
      background-repeat: no-repeat;
    }
  }

  .contacts__list {
    display: flex;
  }

  .contacts__item {
    width: 50%;
    margin-bottom: 24px;
  }

  .contacts__name {
    font-size: 17px;
    margin-top: 14px;
  }

  .contacts__link {
    width: 195px;
    font-size: 17px;
    padding: 0;
    margin-top: 14px;
  }

  .contacts__value {
    font-size: 17px;
    margin-top: 14px;
    margin-bottom: 0;
  }

  .contacts__button {
    padding-left: 50px;
    padding-right: 50px;
  }

  .contacts__write-us {
    width: 230px;
    margin: 48px auto;
    margin-bottom: 57px;
  }

  .contacts__map {
    background: url("../img/icon-map-pin.svg"), url("../img/map-tablet@1x.jpg");
    background-position: 52% 39%, center;
    margin-bottom: 54px;
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/icon-map-pin.svg"), url("../img/map-tablet@2x.jpg");
    }
  }

  .contacts__map iframe {
    margin-bottom: 0;
  }

  .contacts__icon {
    display: block;
    position: absolute;
    right: 3px;
    top: -17px;
    fill: $light-green;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    display: flex;
    flex-wrap: wrap;
    width: 1050px;
    margin-bottom: 53px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .contacts__wrap {
    width: 350px;
    margin-top: 140px;
    padding: 0;
    padding-left: 175px;
  }

  .contacts__list {
    flex-direction: column;
  }

  .contacts__item {
    width: auto;
    margin: 0;
    padding-bottom: 15px;
  }

  .contacts__map {
    width: 525px;
    margin-top: 65px;
    background: url("../img/icon-map-pin.svg"), url("../img/map-desktop@1x.jpg");
    background-position: 52% 39%, center;
    margin-bottom: 0;
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/icon-map-pin.svg"), url("../img/map-desktop@2x.jpg");
    }
  }

  .contacts__button {
    width: 235px;
    padding-left: 175px;
  }

  .contacts__write-us {
    margin-top: -60px;
  }

  .contacts__title {
    font-size: 54px;
    line-height: 46px;
    margin-bottom: 39px;

    &::after {
      right: 415px;
    }
  }

  .contacts__icon {
    left: -112px;
    top: -17px;
  }
}
