.main-header {
  position: relative;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ececec;
  width: 320px;
  margin: 0 auto;
}

.main-header__toggle {
  position: absolute;
  right: 30px;
  top: 33px;
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
  background-image: url("../img/icon-menu-open.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  outline: none;

  &--closed {
    display: none;
  }

  &--opened {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .main-header {
    width: 668px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .main-header__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    width: 1050px;
  }
}
