.page-footer {
  padding-left: 30px;
  padding-right: 30px;
  width: 260px;
  margin: 0 auto;
  background-color: $light-gray;
  border: 2px solid $black;
}

.page-footer__item {
  padding: 25px 28px;
}
