.product {
  position: relative;
  margin-bottom: 28px;
  border: 1px solid $light-gray;
}

.product__title {
  margin: 0;
  padding: 0;
}

.product__photo {
  display: block;
  line-height: 0;
}

.product__description {
  display: flex;
  flex-direction: column;
  padding: 27px 26px;

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

.product__link {
  font-size: 17px;
  color: $black;
  font-weight: 700;
  letter-spacing: 0.2px;

  &:hover,
  &:focus {
    color: $black;
    opacity: 0.6;
  }

  &:active {
    color: $black;
    opacity: 0.3;
  }
}

.product__about {
  margin: 0;
  padding: 0;
  padding-bottom: 13px;
  font-size: 13px;
  line-height: 40px;
  border-bottom: 1px solid $light-gray;
}

.product__price {
  margin: 0;
  padding: 0;
  color: $black;
  font-weight: 700;
}

.product__order {
  display: flex;
  align-items: center;
  margin-top: 22px;
  position: relative;
}

.product__icon {
  position: absolute;
  left: 186px;
  top: 0;
  fill: #d3d2d2;

  &:hover,
  &:focus {
    fill: $light-green;
  }

  &:active {
    opacity: 0.3;
  }
}

.product__button {
  height: 18px;
  width: 20px;
  margin-left: auto;
}

@media (min-width: $tablet-width) {
  .product {
    display: flex;
    margin-bottom: 51px;
  }

  .product__order {
    padding-top: 22px;
    margin-top: 0;
    border-top: 1px solid $light-gray;
  }

  .product__photo {
    width: 60%;
  }

  .product__description {
    width: 50%;
    padding: 25px 26px;
  }

  .product__link {
    font-size: 20px;
    letter-spacing: 0;
  }

  .product__link--layer3 {
    line-height: 26px;
    font-size: 20px;
  }

  .product__about {
    padding-bottom: 15px;
    font-size: 15px;
    border: none;
    margin-bottom: 155px;
  }

  .product__about--text {
    margin-bottom: 127px;
  }

  .product__price {
    font-size: 18px;
  }

  .product__icon {
    left: 254px;
    top: 23px;
  }
}

@media (min-width: $desktop-width) {
  .product {
    flex-direction: column;
    width: 316px;
    margin-bottom: 57px;
  }

  .product__photo {
    width: 100%;
    height: 462px;
  }

  .product__description {
    flex-grow: 1;
    width: 265px;
    height: 146px;
  }

  .product__about {
    margin-bottom: 19px;
  }

  .product__about--text {
    margin: 0;
    padding-bottom: 7px;
  }

  .product__order {
    padding-top: 25px;
  }

  .product__icon {
    left: 237px;
  }
}
