.social {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
}

.social__item {
  margin-right: 41px;

  &:hover .social__icon,
  &:focus .social__icon {
    path {
      fill: $light-green;
    }
  }

  &:active .social__icon {
    path {
      opacity: 0.3;
    }
  }
}

.social__item--instagram {
  width: 20px;
  height: 21px;
}

.social__item--facebook {
  width: 15px;
  height: 29px;
}

.social__item--twitter {
  width: 20px;
  height: 21px;
  margin-right: 10px;
}

@media (min-width: $tablet-width) {
  .social {
    border: none;
    display: flex;
    justify-content: center;
  }
}
