.top-menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.top-menu__logo {
  display: block;
  width: 86px;
  margin: 0 auto;
  padding-top: 22px;
  padding-bottom: 22px;
  line-height: 0;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .top-menu {
    display: flex;
    flex-wrap: wrap;
    width: 668px;
    height: 88px;
  }

  .top-menu__list {
    display: none;
  }

  .top-menu__logo {
    display: flex;
    order: 1;
    width: 120px;
    height: 45px;
    margin-right: auto;
    margin-left: 0;
  }
}

@media (min-width: $desktop-width) {
  .top-menu {
    width: 1050px;
  }

  .top-menu__list {
    display: block;
  }

  .top-menu__logo {
    flex-grow: 1;
    margin-right: 0;
    justify-content: center;
    padding-top: 9px;
    padding-right: 23px;
    padding-bottom: 34px;
  }
}
